$main-font-family: 'Roboto', 'Inter', sans-serif;
$secondary-font: 'Inter', sans-serif;

$main-color: #fff;
$secondary-color: #02897A;
$color-blue: #4D8DFF;
$color-vayled: #740A76;
$color-red: #F03E3D;
$dark-green: #1F2E35;
$light-green: #22343D;
$color-grey: #2a2a2d;
$dark-blue:#252B42;