@import '../../sass/variables.scss';
.prosses {
    width: 100vw;
    background-image: url('../../assets/svg/BG2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 150px;
}

.proTitleBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 53px;

}

.proTitle {
    color:var--($light-green);
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 16px;
}

.proText {
    width: 542px;
    color:var--($light-green);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 45px;

}

.Wrpflex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.contentTop {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 55px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.flexEnd {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    column-gap: 16px;
    margin-bottom: 53px;
    margin-left: 0;
}

.flexStart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 53px;
    text-align: center;
    margin-right: 0;
}

.comment {
    width: 274px;
    height: 53px;
    position: relative;
    border-radius: 26.5px;
    color: var--($light-green);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background:var--($main-color);
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px;
}



.proButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

@media screen and (max-width:800px) {
    .Wrpflex {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .flexEnd {
        margin-bottom: 25px;
    }

    .flexStart {
        margin-bottom: 25px;
    }
}

@media screen and (max-width:863px) {
    .Wrpflex {
        display: flex;
        flex-direction: column;
    }

    .flexEnd {
        width: 100%;
        margin-left: 0;
    }

    .flexStart {
        width: 100%;
        margin-right: 0;
    }

    .proText {
        width: 400px;
    }

    .prosses {
        padding-bottom: 80px;
    }
}