
@import '../../sass/variables.scss';
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 157px;
}

.pricingTitle {
    width: 302px;
    height: 57px;
    color:var--($light-green);
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

.pricingText {
    max-width: 537px;
    color:var--($light-green);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pricingTable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    column-gap: 72px;
    margin: 0 auto;
}

.preCart {
    width: 327px;
    height: 236px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    background: var(--light-background,$main-color);
    display: flex;
    flex-direction: column;
    padding: 24px 26px;
    margin-bottom: 32px;

}


.cart {
    color:var--($light-green);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.description {
    width: 275px;
    height: 84px;
    color: var(--second-text-color, #737373);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-top: 16px;
}

.flex {

    width: 100%;
    display: flex;
    padding-top: 10px;
    width: 154px;
    height: 100px;
    margin-bottom: 20px;
}

.price {
    color: $secondary-color;
    text-align: center;
    font-family: Poppins;
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.2px;
    margin-right: 8px;
}

.dollor {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // padding-top: 20px;

}

.img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid var(--muted-color, #BDBDBD);
    margin-right: 14px;
}

.namePre {
    width: 81px;
    height: 24px;
    flex-shrink: 0;
    color: $secondary-color;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.perMonth {
    flex-shrink: 0;
    color: var(--text-color, #252B42);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1px;

}