@import '../../sass/variables.scss';
.management {
    width: 100%;

}

.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30.5px;
    margin-bottom: 114.8px;
}

.leftContent {
    width: 50%;
}

.subTitle {
    margin-bottom: 10px;
    color:var--($light-green);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mainTitle {
    color:var--($light-green);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 100px;
}

.mainText {
    color:var--($light-green);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 458px;
    flex-shrink: 0;
    margin-bottom: 25px;
}

.rightContent {
    width: 40%;
    margin: 0 auto;
}

.flexBtn {
    display: flex;
    column-gap: 30.5px;
    margin-top: 25px;
}

@media screen and (max-width:1300px) {
    .flex {
        column-gap: 20.5px;

    }

    .leftContent {
        width: 50%;
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

    }

    .mainText {
        width: 400px;
    }
}

@media screen and (max-width:1130px) {
    .flex {
        column-gap: 20.5px;
    }
}

@media screen and (max-width:1060px) {
    .mainTitle {
        margin-bottom: 50px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }


    .flexBtn {
        display: flex;
        column-gap: 30.5px;
        margin-top: 25px;
    }

    .rightContent>img {
        width: 400px;

    }

    .rightContent {
        margin: 0 auto;
    }

    .leftContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;

    }
}